version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/greener-reporter"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/greener-servermock"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/tests"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
